<!-- Main Wrapper -->
<div id="main-wrapper">
	<div class="main-wrapper-style2">
		<div class="inner">
			<div class="container">
				<div class="row">
					<div class="12u skel-cell-mainContent">
						<div id="content">

							<!-- Content -->
						
								<article>
									<header class="major">
										<h2>Walt Disney</h2>
										
									</header>
									
<img src="images/disneyLogo.gif" alt="" /></a>

<p> Walt Disney Pictures est un studio de production cinématographique créé le 1er avril 1983 comme une filiale de la société Walt Disney Productions, renommée 
Walt Disney Company en 1986. Il continue à produire ce qui formait le cœur de métier de la société Disney fondée en 1923 par Walt Disney, des films d'animation et 
d'autres en prise de vue réelle. Avant que cette filiale ne soit créée, il s'agissait d'un service interne de la compagnie.

</p>

<h4> Liste de films sortis depuis 2010: </h4>

<pre>

2010

     Clochette et l'Expédition féerique ou Clochette et les fées à la rescousse au Québec (Tinkerbell and the Great Fairy Rescue), long-métrage en images de synthèse sorti le 23 juillet 2010 (Pologne).
     Toy Story 3 ou Histoire de jouets 3 au Québec (Toy Story 3), long-métrage en images de synthèse sorti le 15 juin 2010 (Argentine). Suite de Toy Story (1995) et Toy Story 2 (1999).
     Raiponce (Tangled), long-métrage en images de synthèse sorti le 24 novembre 2010.

2011

     Milo sur Mars (Mars Needs Moms) ou Des mamans pour Mars au Québec, long-métrage en images de synthèse sortie le 9 mars 2011 (Égypte).
     Winnie l'ourson (Winnie the Pooh), sorti le 13 avril 2011 (Belgique et France).
     Cars 2 ou Les Bagnoles 2 au Québec (Cars 2), sorti le 24 juin 2011.

2012

	 Rebelle (Brave), sorti le 18 juin 2012.
     Clochette et le Secret des fées ou Le Secret des ailes magiques au Québec (Secret of the Wings), sorti le 16 août 2012 (Ukraine).
     Frankenweenie (id.), sorti le 4 octobre 2012 (États-Unis, Émirats arabes unis et Liban).
     Les Mondes de Ralph (Wreck-It Ralph) sorti le 1er novembre 2012 (Émirats arabes unis, Hongrie, Koweit, Liban, Philippines, Russie et Ukraine).

2013

     Monstres Academy ou L'Université des monstres au Québec (Monsters University), sorti le 20 juin 2013 (Allemagne, Argentine, Australie, etc.).
     Planes ou Les Avions au Québec, film dérivé de Cars, sorti le 9 août 2013.
     La Reine des neiges (Frozen), sorti le 27 novembre 2013.

2014

     Clochette et la Fée pirate (The Pirate Fairy), sortie le 1er avril 2014.
     Planes 2 ou Les Avions : Les Pompiers du Ciel au Québec (Planes: Fire & Rescue), sortie le 18 juillet 2014.
	 Les Nouveaux Héros (Big Hero 6), sortie le 7 novembre 2014.
     Clochette et la Créature légendaire (Legend of the NeverBeast) sorti le 12 décembre 2014 (Royaume-Uni).

2015

     Vice Versa ou Sens Dessus Dessous au Québec (Inside Out), sorti le 17 juin 2015 (Belgique et France).
     Le Voyage d'Arlo ou Le Bon Dinosaure au Québec (The Good Dinosaur), sorti le 25 novembre 2015.

2016

     Zootopie (Zootopia), sorti le 17 février 2016 (France).
     Le Monde de Dory ou Trouver Doris au Québec (Finding Dory), suite confirmée du Monde de Némo, sortie prévue le 22 juin 2016.
     Vaiana, la légende du bout du monde (Moana), sortie prévue le 30 novembre 2016.



</pre>

<h4>Quelques bandes annonces: </h4>
<pre>
	- La reine des neiges:
	<iframe width="560" height="315" src="https://www.youtube.com/embed/TbQm5doF_Uc" frameborder="0" allowfullscreen></iframe>
	
	- Cars
	<iframe width="560" height="315" src="https://www.youtube.com/embed/SbXIj2T-_uk" frameborder="0" allowfullscreen></iframe>
	
	- Rebelle
	<iframe width="560" height="315" src="https://www.youtube.com/embed/-DzVEKgwnA0" frameborder="0" allowfullscreen></iframe>
	
	- Raiponce
	<iframe width="560" height="315" src="https://www.youtube.com/embed/kDehTEEoFnE" frameborder="0" allowfullscreen></iframe>
		
	</pre>