
<!-- Main Wrapper -->
<div id="main-wrapper">
	<div class="main-wrapper-style2">
		<div class="inner">
			<div class="container">
				<div class="row">
					<div class="12u skel-cell-mainContent">
						<div id="content">

							<!-- Content -->
						
								<article>
									<header class="major">
										<h2>Welcome to Mario World!</h2>
										<img src="images/mario.jpg" alt="Super Mario World" />
										
									</header>
									



<h5> Voici un game play epic de super mario bros sur NES: </h5>
									
 <iframe width="420" height="315" src="https://www.youtube.com/embed/2ZuhSB64quY" frameborder="0" allowfullscreen></iframe>
 
 
 
 <pre> <strong> Mais qui est donc cette étrange personnage?? </strong>

Les jeux Super Mario mettent en scène les aventures de Mario dans le Royaume Champignon. Mario progresse dans des niveaux variés dans lesquels il saute pour battre 
des ennemis. Le jeu met généralement en scène des intrigues simples ; la plus commune étant que Bowser, le principal ennemi, kidnappe la Princesse Peach, que Mario 
doit ensuite sauver. Super Mario Bros. a établi beaucoup de concepts et d'éléments de gameplay qui apparaissent dans presque chaque jeu de la série, incluant une 
multitude de power ups qui donnent à Mario des capacités spéciales, par exemple celle de lancer des boules de neige, ou d'autre chose.

 </pre>
 
 

      <title>Rollover with a Mouse Events</title>
      
      <script type="text/javascript">
         <!--
            if(document.images){
               var image1 = new Image(); // Preload an image
               image1.src = "/images/mario.jpg";
               var image2 = new Image(); // Preload second image
               image2.src = "/images/mario2.jpg";
            }
         //-->
      </script>
      
      <p>Passez la souris sur l'image pour la changer</p>
      
      <a href="#" onMouseOver="document.myImage.src=image2.src;" onMouseOut="document.myImage.src=image1.src;">
      <img name="myImage" src="/images/mario.jpg" />
      </a>

 <pre>
 
 
 
 À vous de jouer maintenant!</pre>
 
 <table style="margin:0 0 10px 0; width:244px; background:#fff; border:1px solid #F3F3F3;" cellspacing="0" cellpadding="0"><tr><td style="font-family:verdana; font-size:11px; color:#000; padding:5px 5px;"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="808" height="561"><param name="movie" value="http://www.jeuxclic.com/jeux/jeux-flash-2904.swf"><param name="quality" value="high"></param><param name="menu" value="false"></param><embed src="http://www.jeuxclic.com/jeux/jeux-flash-2904.swf" width="808" height="561" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" menu="false"></embed></object></td></tr><tr><td style="font-family:verdana; font-size:11px; padding:5px 10px; border-top:1px solid #F3F3F3;" align="center"><strong><a href="http://www.jeuxclic.com/jeux.php?id=6629" target="_blank">Super Mario flash</a></strong> | <a href="http://www.jeuxclic.com/categorie-jeux.php?cat=jeux-plate-forme" target="_blank">Jeux de plate-forme</a> avec <a href="http://www.jeuxclic.com" title="Jeux avec Jeuxclic.com" target="_blank">Jeuxclic.com</a></td></tr></table>