 
<!-- Main Wrapper -->
<div id="main-wrapper">
	<div class="main-wrapper-style2">
		<div class="inner">
			<div class="container">
				<div class="row">
					<div class="12u skel-cell-mainContent">
						<div id="content">

							<!-- Content -->
						
								<article>
									<header class="major">
										<h2>Marvel comics</h2>
										
									</header>
<img src="images/marvel.jpg" alt="" /></a>

<pre>Marvel Studios est une société de production cinématographique en prises de vue réelles et en animation assurant
 les adaptations cinématographiques des productions de Marvel Entertainment, essentiellement issu des Marvel Comics.								

Marvel a sorti beaucoup de film ces dernières années. Voici la liste :
	– [1944] Captain America d’Elmer Clifton et John English
	– [1986] Howard… une nouvelle race de héros de Willard Huyck
	– [1989] Punisher de Mark Goldblatt
	– [1990] Captain America d’Albert Pyun
	– [1994] Les Quatre Fantastiques d’Oley Sassone
	– [1998] Blade de Stephen Norrington
	– [2000] X-Men de Bryan Singer
	– [2002] Blade II de Guillermo del Toro
	– [2002] Spider-Man de Sam Raimi
	– [2003] Daredevil de Mark Steven Johnson
	– [2003] X-Men 2 de Bryan Singer
	– [2003] Hulk d’Ang Lee
	– [2004] The Punisher de Jonathan Hensleigh
	– [2004] Spider-Man 2 de Sam Raimi
	– [2004] Blade : Trinity de David S. Goyer
	– [2005] Elektra de Rob Bowman
	– [2005] Man-Thing de Brett Leonard
	– [2005] Les 4 Fantastiques de Tim Story
	– [2006] X-Men : L’affrontement final de Brett Ratner
	– [2007] Ghost Rider de Mark Steven Johnson
	– [2007] Spider-Man 3 de Sam Raimi
	– [2007] Les 4 Fantastiques et le Surfer d’Argent de Tim Story
	– [2008] Iron Man de Jon Favreau
	– [2008] L’Incroyable Hulk de Louis Leterrier
	– [2008] Punisher – Zone de guerre de Lexi Alexander
	– [2009] X-Men Origins : Wolverine de Gavin Hood
	– [2010] Iron Man 2 de Jon Favreau
	– [2011] Thor de Kenneth Branagh
	– [2011] X-Men : Le Commencement de Matthew Vaughn
	– [2011] Captain America : First Avenger de Joe Johnston
	– [2012] Ghost Rider : L’esprit de vengeance de Mark Neveldine et Brian Taylor
	– [2012] Avengers de Joss Whedon
	– [2012] The Amazing Spider-Man de Marc Webb
	– [2013] Iron Man 3 de Shane Black
	– [2013] Wolverine : Le Combat de l’Immortel de James Mangold
	– [2013] Thor : Le Monde des Ténèbres d’Alan Taylor
	– [2014] Captain America : Le Soldat de l’Hiver de Joe et Anthony Russo
	– [2014] The Amazing Spider-Man : Le Destin d’un Héros de Marc Webb
	– [2014] X-Men : Days of Future Past de Bryan Singer
	– [2014] Les Gardiens de la Galaxie de James Gunn
	– [2015] Avengers : L’Ère d’Ultron de Joss Whedon
	– [2015] Ant-Man de Peyton Reed
	– [2015] Les 4 Fantastiques de Josh Trank
	– [2016] Deadpool de Tim Miller
	– [2016] Captain America : Civil War de Joe et Anthony Russo
	
	
</pre>


<h4>Voici quelques bandes annonces de films Marvel:</h4>
<pre> 

	-Captain america: 
<iframe width="560" height="315" src="https://www.youtube.com/embed/JerVrbLldXw" frameborder="0" allowfullscreen></iframe>

	-Avengers:
<iframe width="560" height="315" src="https://www.youtube.com/embed/eOrNdBpGMv8" frameborder="0" allowfullscreen></iframe>

	-Iron Man: 
<iframe width="560" height="315" src="https://www.youtube.com/embed/8hYlB38asDY" frameborder="0" allowfullscreen></iframe>

</pre>
