
<html>
	<head>
		<meta charset="utf-8"></meta>
		<title></title>
		<style>
			body { 
			margin:0;
			padding:0;
			background: #000;
			}
		</style>
	</head>
		<body>
			<canvas id="canvas" width="1296" height="885"></canvas>
			<script type="text/javascript">
				// JavaScript Document
				window.onload = function() {
				// start the JS functions
				console.log("begin animation");
				
				var canvas = document.getElementById("canvas");
				var context = canvas.getContext("2d",{alpha:false});
				var width = canvas.width = window.innerWidth;
				var height = canvas.height = window.innerHeight;
				
				var objects  = new Array();
				var numObjects = 2000;
				
				for (var i = 0; i < numObjects; i++){
					var o = new Object();
					o.size = Math.random()*3;
					o.cx = Math.floor(Math.random() * width-o.size)+o.size;
					o.cy = Math.floor(Math.random() * height-o.size)+o.size;
					o.xr = width * .5 -o.size; // x radius for elliptical path
					o.yr = height * .5 -o.size; // x radius for elliptical path
					o.angleX = Math.floor(Math.random() * 360);
					o.angleY = Math.floor(Math.random() * 1);
					o.speedX = (Math.random() * .05);
					o.speedY = (Math.random() * .01);
					o.color = '#'+Math.floor(Math.random()*16777215).toString(16);
					objects.push(o);
				}
				
				
				// move many objects
				
				render();
				
				function render() {
					
					context.clearRect(0,0,width, height);
					
					objects.forEach(function(o){
						var x = o.xr * Math.cos(o.angleX);
						var y = o.yr * Math.sin(o.angleY);
					
						context.fillStyle = o.color;
						context.beginPath();
						
						context.arc(o.cx + x, o.cy+ y, Math.abs(o.size* Math.cos(o.angleX)), Math.PI * 0 , Math.PI * 2, false);
						context.fill();
					
						o.angleX+=o.speedX;
						o.angleY+=o.speedY;
					});
					
					
					requestAnimationFrame(render);	
				}
			};
			</script>
		</body> 
</html>
