
<!-- Main Wrapper -->
<div id="main-wrapper">
	<div class="main-wrapper-style2">
		<div class="inner">
			<div class="container">
				<div class="row">
					<div class="12u skel-cell-mainContent">
						<div id="content">

							<!-- Content -->
						
								<article>
									<header class="major">
										<h2>The ledgend of Zelda!</h2>
										<img src="images/zelda.png" alt="Super Mario World" />
										
									</header>
									
<h5> Regarder cette première partie du gameplay de <em> The Ledgend of Zelda: Windwaker </em> : </h5>
									
<iframe width="560" height="315" src="https://www.youtube.com/embed/znvE3Jy2_p4" frameborder="0" allowfullscreen></iframe>
 
 
 
 <p> <strong> Mais qui est donc cette étrange personnage?? </strong>

 </p>

 
 
 
 <a href="http://www.zelda.com/">Aller visiter le site de <em> the Ledgend of Zelda </em> </a> 
 <p>À vous de jouer maintenant!</p>
 



<table style="margin:0 0 10px 0; width:244px; background:#fff; border:1px solid #F3F3F3;" cellspacing="0" cellpadding="0"><tr><td style="font-family:verdana; font-size:11px; color:#000; padding:5px 5px;"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="808" height="561"><param name="movie" value="http://www.jeuxclic.com/jeux/jeux-flash-1374.swf"><param name="quality" value="high"></param><param name="menu" value="false"></param><embed src="http://www.jeuxclic.com/jeux/jeux-flash-1374.swf" width="808" height="561" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" menu="false"></embed></object></td></tr><tr><td style="font-family:verdana; font-size:11px; padding:5px 10px; border-top:1px solid #F3F3F3;" align="center"><strong><a href="http://www.jeuxclic.com/jeux.php?id=5161" target="_blank">Legend of Zelda and the lampshade</a></strong> | <a href="http://www.jeuxclic.com/categorie-jeux.php?cat=jeux-aventure" target="_blank">Jeux d'aventure</a> avec <a href="http://www.jeuxclic.com" title="Jeux avec Jeuxclic.com" target="_blank">Jeuxclic.com</a></td></tr></table>