
<div id="sidebar">
		
		<section>
			<header class="major">
				<h2>Encore plus</h2>
			</header>
			<p>  Cette page a été créée le 04.05.2016  </p>
			<footer>
				<a href="http://www.miniclip.com" class="button button-icon button-icon-info">Trouvez plus de jeux</a>
			</footer>
		</section>


</div>